/* Outer Container */
.config-explorer-code-outer-container {
    overflow: visible;
    display: flex;
    flex-direction: column;
}

/* File Node */
.config-explorer-file-node {
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: fit-content;
    flex-shrink: 0;
    white-space: nowrap;
    cursor: default;
}

.config-explorer-file-node-with-link {
    font-weight: bold;
}

.config-explorer-file-node-with-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
}

/* File Folder Node */
.config-explorer-file-folder-node {
    display: flex;
    align-items: center;
    width: fit-content;
    color: var(--config-node-highlight-text-color);
}

.config-explorer-file-folder-node:hover {
    cursor: default;
    text-decoration: none;
    color: var(--config-node-highlight-text-color);
}

/* File Folder Node with Link */
.config-explorer-file-folder-node-with-link {
    font-weight: bold;
    color: var(--ifm-link-color);
}

.config-explorer-file-folder-node-with-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
    color: var(--ifm-link-color);
}

/* Popup Window Container */
.config-explorer-popup-window-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

/* Popup Window */
.config-explorer-popup-window {
    background-color: var(--config-node-popup-background-color);
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-left: 5px;
    margin-top: -5px;
    width: max-content;
    min-width: 200px;
    max-width: 500px;
    z-index: 20;
    white-space: normal;
    position: absolute;
    left: 20px;
    top: -10px;
}

.config-explorer-popup-window-open-tag {
    z-index: 5;
    margin-left: 3px;
}

.config-explorer-popup-window-open-tag:hover {
    font-weight: bold;
    cursor: pointer;
}

/* Indentation Arrow */
.indentation-arrow {
    font-size: 14px;
    color: #bbbbbb;
    margin: 0 8px 0 0;
    display: inline-block;
}

/* Tree Line Components */
.tree-line {
    font-size: 14px;
    color: #bbbbbb;
    display: inline-block;
    font-family: monospace;
    letter-spacing: 0;
    line-height: 1;
}

.prefix-line {
    font-size: 14px;
    color: #bbbbbb;
    display: inline-block;
    font-family: monospace;
    letter-spacing: 0;
    line-height: 1;
}

/* Node Icon */
.config-explorer-node-icon {
    font-size: 23px;
}

/* Node */
.config-explorer-node {
    align-items: flex-start;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.config-explorer-node-header {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.config-explorer-node-content {
    display: flex;
    align-items: center;
}

/* Node without Flex */
.config-explorer-node-noflex {
    align-items: flex-start;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5px 0 5px 0;
}

.config-node-contents-wrapper {
    margin: 0 5px 0 0;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.config-explorer-icon {
    /* Make it go back to the original color */
    color: var(--config-node-highlight-text-color);
    margin-right: 5px;
}

/* Display None */
.display--none {
    display: none;
}
